<ng-container *ngIf="video">

    <app-video id="{{video.url}}"></app-video>
    <h2>{{video.titulo}}</h2>
    <p>{{video.descripcion}}</p>
    <app-estrellas valor="{{video.estrellas}}" (clic)="estrellaClick($event)"></app-estrellas>

    <div>
        <input #nick placeholder="nick">
        <br />
        <textarea #comentario rows="3" style="width: 100%" placeholder="comentario"></textarea>
        <button (click)="nuevoComentario(nick.value, comentario.value)">Añadir comentario</button>
    </div>

    <ul>
        <li *ngFor="let comentario of comentarios">
            <div class="nick">{{comentario.nick}}</div>
            <div class="texto">{{comentario.texto}}</div>
        </li>
    </ul>

</ng-container>

<div *ngIf="!video">
    <h1>Cargando</h1>
</div>